.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  background: none;
  border: 2px solid var(--primary-color);
  color:  var(--primary-color);
  padding: 10px 15px;
}
