.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e6e6ee;
    --primary-color: #04d204;
    --secondary-color: #04d2046b;

    --inverted-primary-color: #032aaa;
    --inverted-secondary-color: #4434db;

}