.app.light {
    --bg-color: #e6e6ee;
    --inverted-bg-color: #0e0e75;
    --primary-color: #3756bd;
    --secondary-color: rgb(38, 17, 231);

    --inverted-primary-color: #04d204;
    --inverted-secondary-color: #04d2046b;
    //   --navbar-height: 50px;
}